$fa-font-path: "../bower_components/font-awesome/fonts";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

// google font
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
} 

#cover_page{
    top: 0;
    width: 100%; 
    height: 100%;
    position: relative; 
    background-size: cover;
    background-position: center center;
    background-image: url('../images/cordoba.jpg');

    &::before{
        top: 0;
        width: 100%; 
        content: '';
        height: 100%;
        display: block;
        position: relative; 
        background-color: rgba(0, 0, 0, 0.65);
    }

    /*header{

        #btn-menu{
            border: none;
            color: white;
            outline: none;
            font-size: 2em;
            background-color: transparent;
        }

        nav{
            background: #f4f4f4;
            box-sizing: border-box;
            display: block;
            font-size: 0;
            height: 101%;
            left: 0;
            opacity: 0;
            position: fixed;
            top: -110vh;
            transition: opacity 0.2s linear;
            width: 101%;
            z-index: -1;
            -webkit-backface-visibility: hidden;

            &.active{
                top: 0;
                opacity: 1;
                z-index: 1;
            }
            
            a {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                color: #fff;
                display: inline-table;
                font-size: 72px;
                font-weight: 900;
                height: 50%;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                width: 50%;

                b {
                    display: table-cell;
                    position: relative;
                    vertical-align: middle;
                    z-index: 10;
                }
            }
        }
    }*/

    #titles{
        left: 50%;
        top: 50%;
        color: white;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);

        #me{
            width: 25%;
            margin-bottom: 10px;
            border: 5px solid white;
        }

        p{
            margin: 0;
            font-size: 1.5em;
        }

        h1{
            margin: 0;
            padding: 0;
            color: white;
            font-size: 4em;
            text-align: center;
        }

        hr{
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid white;
        }

        h2{
            margin: 0;
            padding: 0;
            color: white;
            font-size: 2em;
            font-weight: 400;
            text-align: center;
        }
    }
}
