html, body {
  height: 100%;
  font-size: 13px;
  font-family: 'Lato', sans-serif;

  // Media queries
  @media #{$mq-tablet} {
    font-size: 12px;
  }

  @media #{$mq-mobile} {
    font-size: 10px;
  }
}
