js-horizontal-bar-chart {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;

  .js-chart-label {
    font-size: 1.5em;
    margin: 0 0 5px 0;
  }

  .js-progress-bar {
    color: white;
    height: 25px;
    display: block;
    line-height: 25px;
    @include border-radius(4px);
  }
}