<div class="container">
	<div class="row">
		<h1 class="section-title text-center">{{ 'HIRE_ME_TITLE' | translate }}</h1>
		<ul class="list-inline text-center contacts">
			<li>
				<a href="mailto:hola@jesusdiaz.me" title="hola@jesusdiaz.me">
					<i class="fa fa-envelope-o faa-shake animated"></i> hola@jesusdiaz.me
				</a>
			</li>
			<li>
				<a href="tel:3516067958">
					<i class="fa fa-mobile"></i> +54 351 6 067958
				</a>
			</li>
			<li>
				<a href="skype:jesusdiazbc@hotmail.com?chat">
					<i class="fa fa-skype"></i> jesusdiazbc
				</a>
			</li>
		</ul>
		<ul class="list-inline text-center social">
			<li>
				<a href="https://www.facebook.com/jesusdiazbc" title="facebook" target="_blank">
					<i class="fa fa-facebook faa-pulse animated-hover"></i>
				</a>
			</li>
			<li>
				<a href="http://www.twitter.com/jedi4z" title="twitter" target="_blank">
					<i class="fa fa-twitter faa-pulse animated-hover"></i>
				</a>
			</li>
			<li>
				<a href="https://ar.linkedin.com/in/jesusdiazbc" title="linkedin" target="_blank">
					<i class="fa fa-linkedin faa-pulse animated-hover"></i>
				</a>
			</li>
			<li>
				<a href="http://www.github.com/jedi4z" title="github" target="_blank">
					<i class="fa fa-github-alt faa-pulse animated-hover"></i>
				</a>
			</li>
		</ul>
		<div id="copy">&copy Copyright {{date | date:'yyyy'}} Jesús Díaz</div>
	</div>
</div>

