<div class="container">
	<div class="row">
		<h1 class="section-title text-center">Want to work with me?</h1>
		<ul class="list-inline text-center contacts">
			<li>
				<a href="mailto:hola@jesusdiaz.me" title="hola@jesusdiaz.me">
					<i class="fa fa-envelope-o"></i> hola@jesusdiaz.me
				</a>
			</li>
			<li><i class="fa fa-mobile"></i> +54 351 6 067958</li>
			<li><i class="fa fa-skype"></i> jesusdiazbc</li>
		</ul>
		<ul class="list-inline text-center social">
			<li>
				<a href="https://www.facebook.com/jesusdiazbc" title="facebook">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="" title="">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="" title="">
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="" title="">
					<i class="fa fa-google-plus"></i>
				</a>
			</li>
			<li>
				<a href="" title="">
					<i class="fa fa-github-alt"></i>
				</a>
			</li>
		</ul>
		<div id="copy">&copy Copyright {{date | date:'yyyy'}} Jesús Díaz</div>
	</div>
</div>

