<div class="container">
	<header class="active">
		<button id="btn-menu" class="pull-right" ng-click="showNavbar()">
			<i class="fa fa-bars"></i>
		</button>
		<nav>
	        <a href="/approach/" title="Approach" style="background-image: url(/image/2/800/600/5/media/uploads/menu-process.jpg);">
	          <b>Approach</b>
	        </a>
	        <a href="/about/" title="About" style="background-image: url(/image/2/800/600/5/media/uploads/menu-about.jpg);">
	          <b>About</b>
	        </a>
	        <a href="/work/" title="Work" style="background-image: url(/image/2/800/600/5/media/uploads/work.jpg);">
	          <b>Work</b>
	        </a>
	        <a href="/contact/" title="Contact" style="background-image: url(/image/2/800/600/5/media/uploads/contact.jpg);">
	          <b>Contact</b>
	        </a>
      </nav>
	</header>
	<div id="titles">
		<h1>Jesús Díaz</h1>
		<h2>I am software developer based in Córdoba, Argentina.</h2>
	</div>
</div>