

<!--header>
	<div class="container">
		<button id="btn-menu" class="pull-right" ng-click="showNavbar()">
			<i class="fa fa-bars"></i>
		</button>
		<nav class="active">
			<a href="#" title="Approach" style="background-image: url(/images/menu_1.jpg);">
				<b>Approach</b>
			</a>
			<a href="#" title="About" style="background-image: url(/images/menu_2.jpg);">
				<b>About</b>
			</a>
			<a href="#" title="Work" style="background-image: url(/images/menu_3.jpg);">
				<b>Work</b>
			</a>
			<a href="#" title="Contact" style="background-image: url(/images/menu_4.jpg);">
				<b>Contact</b>
			</a>
		</nav>
	</div>
</header-->

<div class="container">
	<div id="titles">
		<img src="images/me.jpg" id="me" class="img-circle">
		<p>MY NAME IS</p>
		<h1>JESÚS DÍAZ</h1>
		<hr>
		<h2>SOFTWARE DEVELOPER BASED IN ARGENTINA</h2>
	</div>
</div>