<div class="container">
	<div id="titles">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<img src="images/me_2.jpg" id="me" class="img-circle img-responsive" alt="jesus_diaz">
			</div>
		</div>
		<div class="row">
			<h1><span>{{ 'MAIN_IAM' | translate }}</span> JESÚS</h1>
		</div>
		<div class="row">
			<p>
				<b>{{ 'MAIN_JOB_TITLE' | translate }}</b> {{ 'MAIN_LIVE' | translate }}
				{{ 'MAIN_DESCRIPTION' | translate }}
			</p>
		</div>
		<div class="row">
			<div class="scroll-down clear">
				<i class="fa fa-angle-double-down bounce"></i>
			</div>
		</div>
	</div>
</div>