<nav class="navbar navbar-custom navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a smooth-scroll target="about" href="">{{ 'MENU_ABOUT' | translate}}</a></li>
                <li><a smooth-scroll target="skills" href="">{{ 'MENU_SKILLS' | translate}}</a></li>
                <li><a smooth-scroll target="hire-me" href="">{{ 'MENU_HIRE_ME' | translate }}</a></li>
                <li>
                    <a ng-show="lang == 'en'" ng-click="changeLanguage('es')" href="#">
                        <i class="fa fa-globe faa-burst animated-hover"></i>&nbsp;{{ 'MENU_BUTTON_LANG_ES' | translate }}
                    </a>
                </li>
                <li>
                    <a ng-show="lang == 'es'" ng-click="changeLanguage('en')" href="#">
                        <i class="fa fa-globe faa-burst animated-hover"></i>&nbsp;{{ 'MENU_BUTTON_LANG_EN' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>